#platform=x86, AMD64, or Intel EM64T
# Firewall configuration
firewall --disabled
# Install OS instead of upgrade
install
# Use http installation media
nfs --server=%myip% --dir=/tftpboot/boot/centos/%version%
#url --url http://%myip%/install/centos/%version%/
# Root password
rootpw %password% 
# System authorization information
auth  --useshadow
# Use text install
text
firstboot --disable
# System keyboard
keyboard us
# System language
lang en_US
# SELinux configuration
selinux --disabled
# Installation logging level
logging --level=info
# Shutdown after installation
poweroff
# System timezone
timezone America/Phoenix
# Network information
network --device=eth1 --bootproto=dhcp

# System bootloader configuration
bootloader --location=mbr --driveorder=sda

# Partition clearing information
zerombr
ignoredisk --only-use=sda

# Disk partitioning information
%diskpart%

%post
/usr/bin/yum -y install yum-plugin-fastestmirror >> /root/post_install.log 2>&1
/usr/bin/yum -y update >> /root/post_install.log 2>&1
rpm --import http://elrepo.org/RPM-GPG-KEY-elrepo.org
rpm -Uvh http://elrepo.org/elrepo-release-6-5.el6.elrepo.noarch.rpm
yum --enablerepo=elrepo
yum install -y unzip
wget http://%myip%/3DM2_CLI-Linux_9.5.4_10.2.1.zip

cat <<'EOF_DISABLE_SERVICES' > /root/cpanel-disable-services
#!/bin/bash
for service in \
   avahi-daemon \
   avahi-dnsconfd \
   bluetooth \
   capi \
   conman \
   cpus \
   irda \
   lisa \
   netplugd \
   ifplugd \
   NetworkManager \
   NetworkManagerDispatcher \
   netfs \
   netplugd \
   nfs \
   nfslock \
   nfsd \
   ncsd \
   oddjobd \
   openvpn \
   pcmcia \
   pcscd \
   portsentry \
   postfix \
   rawdevices \
   rdisc \
   rpcgssd \
   rpcidmapd \
   saslauthd \
   tcsd \
   vsftpd \
   winbind \
   wpa_supplicant \
   xfs \
   ypbind ;

   do

       echo "Disabling service: ${service}"
       chkconfig ${service} off &>/dev/null
       service ${service} stop &>/dev/null
done
EOF_DISABLE_SERVICES

chmod 100 /root/cpanel-disable-services
sh /root/cpanel-disable-services &>/dev/null
rm -f /root/cpanel-disable-services &>/dev/null

/sbin/chkconfig ntpd on


%controlpanel%
%privatenet%
echo 'SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="%mac%", ATTR{type}=="1", KERNEL=="eth*", NAME="eth1"' >> /etc/udev/rules.d/99-persistent-net.rules; \
echo 'DEVICE=eth1' > /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'BOOTPROTO=static' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'GATEWAY=%gateway%' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'HOSTNAME=%hostname%' > /etc/sysconfig/network; \
echo 'NETWORKING=yes' >> /etc/sysconfig/network; \
echo 'HWADDR=%mac%' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'IPADDR=%ip%' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'NETMASK=%netmask%' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'ONBOOT=yes' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo 'NM_CONTROLLED=no' >> /etc/sysconfig/network-scripts/ifcfg-eth1; \
echo '%ip% %hostname%' >> /etc/hosts; \
echo 'nameserver %dns1%' > /etc/resolv.conf; \
echo 'nameserver %dns2%' >> /etc/resolv.conf;
%end

%pre
%pre%
%end

%packages
@core

%end
